.podcast {
  margin: 0;
}

.podcast-item {
  border-bottom: 1px solid $grey-300;
}

.podcast-channel,
.podcast-item-fields,
.podcast-item-teaser {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.podcast-channel {
  padding: 5em 0 1em;
}

.text-fields {
  width: 50%;
}

.other-fields {
  text-align: right;
  width: 30%;

  .other-button {
    margin-bottom: 1em;
  }
}

.image-section {
  position: relative;

  img {
    margin: 1em 0;
    width: 100%;
  }

  .choose-image-button {
    bottom: 2em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 187px;
  }
}

.item-teaser-title {
  line-height: 36px;
  width: 70%;
}

.item-teaser-icon {
  text-align: right;
  width: 10%;
}

.podcast-banner {
  background-color: $blue-grey-500;
  color: $white;
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.item-divider-menu {
  background-color: $grey-500;
  color: $white;
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  padding: 1em 0;
}

.item-divider-text {
  font-size: 1.5em;
  line-height: 36px;
  width: 50%;
}

.item-divider-buttons {
  text-align: right;
  width: 30%;
}
