.podcast {
  margin: 0;
}

.podcast-item {
  border-bottom: 1px solid $grey-300;
}

.podcast-channel,
.podcast-item-fields,
.podcast-item-teaser {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.podcast-channel {
  padding: 5em 0 1em;
}

.text-fields {
  width: 50%;
}

.other-fields {
  text-align: right;
  width: 30%;

  .other-button {
    margin-bottom: 1em;
  }
}

.image-section {
  position: relative;

  img {
    margin: 1em 0;
    width: 100%;
  }

  .choose-image-button {
    bottom: 2em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 187px;
  }
}

.item-teaser-title {
  line-height: 36px;
  width: 70%;
}

.item-teaser-icon {
  text-align: right;
  width: 10%;
}

.podcast-banner {
  background-color: $blue-grey-500;
  box-shadow: 0 2px 5px $transparent-black;
  color: $white;
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  padding: 1em 5%;
  position: fixed;
  width: calc(100% - 10%);
  z-index: 5;
}

.item-divider-menu {
  background-color: $grey-500;
  color: $white;
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  padding: 1em 0;
}

.item-divider-text {
  font-size: 1.5em;
  line-height: 36px;
  width: 50%;
}

.item-divider-buttons {
  text-align: right;
  width: 30%;
}

.podcast-categories-dialog {
  // column-count: 2;
  display: flex;
  justify-content: space-between;

  .podcast-categories-column {
    width: 18em;
  }

  .category-checkbox-group {
    // display: inline-block;
    padding: 0 0 .5em;
    // width: 18em;
  }

  .subcategories-group {
    padding: 0 0 .5em 2em;
  }
}

.item-date-time {
  display: flex;
  justify-content: space-between;

  .date-time-input {
    overflow: hidden;
    width: 45%;
  }
}
