$almost-black: #222;
$black: #000;
$blue: #065aa6;
$blue-dark: #05457f;
$gray-dark: #333;
$gray-light: #d0d0d0;
$gray-medium: #888;
$mustang-blue: #263248;
$mustang-blue-alt: #293750;
$mustang-blue-light: #7e8aa2;
$mustang-orange: #ff9800;
$off-white: #e9e9e9;
$almost-white: #f5f5f5;
$orange: #ff9700;
$white: #fff;
