@mixin generic-section {
  padding: 5em 1em;
}
@mixin dark-text {
  background-color: $grey-200;
  color: $black-87;

  a {
    color: $blue-grey-500;

    &:hover {
      text-decoration: none;
    }
  }
}
@mixin light-text {
  background-color: $blue-grey-500;
  color: $white-87;

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.section-inner {
  margin: 0 auto;
  max-width: 44em;

  h2 {
    font-size: 2em;
    font-weight: 300;
    margin: .5em 0;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
    margin: 1em 0;
  }

  ul {
    font-size: 1.2em;
    font-weight: 300;
  }

  li {
    margin: .5em 0;
  }

  // @media (min-width: 784px) {
  //   h2 {
  //     font-size: 2em;
  //   }
  // }
}

.vision-section {
  @include generic-section;
  @include dark-text;
}

.lufs-section {
  @include generic-section;
  @include light-text;
}

.apache-section {
  @include generic-section;
  @include dark-text;
}

.download-section {
  @include generic-section;
  @include light-text;
}

.download-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;

  a {
    border: 1px solid $white-87;
    border-radius: .2em;
    color: $white-87;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 300;
    padding: .5em 1em;
    text-decoration: none;

    &:hover {
      background-color: $white-12;
    }
  }
}
