.top-section {
  background-color: $blue-grey-500;
  color: $white;
  padding: 5em 1em;

  .top-section-inner {
    margin: 0 auto;
    max-width: 48em;
    text-align: center;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
  }

  .logo-image {
    width: 15em;

    img {
      width: 100%;
    }
  }

  .logo-text {
    width: 32em;
  }

  h1 {
    font-size: 20vw;
    font-weight: 300;
    margin: .1em 0;
    opacity: 1;
  }

  h2 {
    font-size: 5vw;
    font-weight: 300;
    margin: .5em 0;
    opacity: .87;
  }

  p {
    font-size: 2em;
    font-weight: 300;
    margin: 5em 0 .5em;
    opacity: .54;
  }

  @media (min-width: 784px) {
    h1 {
      font-size: 10em;
    }

    h2 {
      font-size: 2.5em;
    }
  }
}
